<body class="bg-[#f4f5f7] pb-10">
<app-navbar></app-navbar>

<header class="bg-[#892DCE]">
  <div class="flex flex-row justify-between p-20 relative">
    <div class="flex flex-col p-20">
      <div class="mb-10">
        <h1 class="flex flex-col text-white text-6xl font-medium space-y-1">
          <a>Welcome To</a>
          <a>Retail App</a>
        </h1>
      </div>
      <div class="max-w-xl">
        <h1 class="text-white text-balance text-xl font-light">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod magna orci, ut feugiat urna
            fringilla a. Etiam lobortis arcu in congue bibendum. Ut commodo placerat ex vel tempus. Ut facilisis cursus
            tempor.</p>
        </h1>
      </div>
      <div class="flex flex-row">
        <div
          class="bg-[#2dce89] shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[5px] p-4 w-[180px] mt-10 mr-5">
          <button type="button" class="text-white flex items-center justify-center w-full text-lg">This Is Button
          </button>
        </div>
        <div
          class="bg-white shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.25),0_10px_60px_rgba(226,236,249,0.5)] rounded-[5px] p-4 w-[180px] mt-10">
          <button type="button" class="text-black flex items-center justify-center w-full text-lg">This Is Button
          </button>
        </div>
      </div>
    </div>
    <div class="absolute top-15 right-25 w-[500px] h-[500px] p-5 mr-10">
      <img src="/dimsum.png" class="w-full h-full object-contain">
    </div>
  </div>
</header>

<div class="flex justify-center p-10">
  <h1 class="text-7xl font-medium">New Arrivals!</h1>
  <div class="flex flex-row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"><path d="M0 0h230c138 0 250 112 250 250v230H250C112 480 0 368 0 230V0Z" fill="#808"></path></svg>
  </div>
</div>

<footer class="mt-20">
  <div class="flex flex-row justify-between ml-20 mr-20">
    <div class="flex flex-col space-y-1">
      <div>
        <h1 class="text-4xl">Thank you for supporting us!</h1>
      </div>
      <div>
        <h1 class="ml-1">Let's get in touch in these platforms</h1>
      </div>
    </div>
    <div class="flex flex-row items-center space-x-1 mr-20">
      <div>
        LOGO
      </div>
      <div>
        LOGO
      </div>
      <div>
        LOGO
      </div>
    </div>
  </div>
  <hr class="border-0.5 border-gray  mb-10 my-10 mx-21">
  <div class="flex flex-row justify-between ml-20 mr-20">
    <div class="flex flex-row space-x-1">
      <h1>© 2026</h1>
      <h1 class="text-[#354eec]">Xiao Xiao Team</h1>
    </div>
    <div class="flex flex-row space-x-1">
      <h1 class="font-light">About Us</h1>
      <h1>About Us</h1>
      <h1>About Us</h1>
    </div>
  </div>
</footer>
</body>
