<div class="p-20">
  <h1 class="text-6xl font-medium">Product Data</h1>
</div>

<table class="border-collapse">
  <thead>
  <tr>
    <th scope="col" class="py-4 px-20">Product Name</th>
    <th scope="col" class="py-4 px-20">Product Price</th>
    <th scope="col" class="py-4 px-20">Product Stock</th>
  </tr>
  </thead>

  <tbody>
    @if (products().loading) {
      <tr>
        <td colspan="3">Loading...</td>
      </tr>
    } @else {
      @for (product of products().data; track product.id) {
        <tr class="border-b border-[#E5E5E5]">
          <td class="py-4 px-20">{{ product.product_name }}</td>
          <td class="py-4 px-20">{{ product.product_price }}</td>
          <td class="py-4 px-20">{{ product.product_stock }}</td>
        </tr>
      }
    }
  </tbody>
</table>
